{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}



    <div class="relative overflow-x-auto shadow-md sm:rounded-lg py-12 px-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-16 py-3">
                    <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    Titre
                </th>
                <th scope="col" class="px-6 py-3">
                    Langue originale
                </th>
                <th scope="col" class="px-6 py-3">
                    Popularité
                </th>
                <th scope="col" class="px-6 py-3">
                    Note moyenne
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre de votes
                </th>
                <th scope="col" class="px-6 py-3">
                    Date de sortie
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="p-4">
                        <a href="{{ path('movie_show', {id: movie.id}) }}">
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.backdropPath }}" class="w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch">
                        </a>
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{ movie.name }}
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{ movie.originalLanguage }}
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{ movie.popularity }}
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{ movie.voteAverage }}
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{ movie.voteCount }}
                    </td>
                    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                        {{ movie.releaseDate|date('d/m/Y') }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="{{ path('movie_edit', {id: movie.id}) }}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Modifier</a> |
                        <a href="{{ path('movie_delete', {id: movie.id}) }}" class="font-medium text-red-600 dark:text-red-500 hover:underline">Supprimer</a>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="text-center py-4">Aucun enregistrement.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="mt-6">
            <div class="navigation">
                {{ knp_pagination_render(movies) }}
            </div>
        </div>
    </div>
{% endblock %}
