{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste des films</h1>
    <table>
        <thead>
        <tr>
            <th>Poster</th>
            <th>Titre</th>
            <th>Langue originale</th>
            <th>Popularité</th>
            <th>Note moyenne</th>
            <th>Nombre de votes</th>
            <th>Date de sortie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>
                    <a href="{{ path('movie_show', {id: movie.id}) }}">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.backdropPath }}"
                             alt="{{ movie.name }}" style="max-width: 100px;">
                    </a>
                </td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.originalLanguage }}</td>
                <td>{{ movie.popularity }}</td>
                <td>{{ movie.voteAverage }}</td>
                <td>{{ movie.voteCount }}</td>
                <td>{{ movie.releaseDate|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('movie_edit', {id: movie.id}) }}">Modifier</a> |
                    <a href="{{ path('movie_delete', {id: movie.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(movies) }}
    </div>
</div>
{% endblock %}
