<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="body-bg h-80vh pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
        <div>
            <nav class="bg-gray-800 p-4">
                <div class="container mx-auto flex justify-between items-center">
                    <a href="{{ path('app_home') }}" class="text-white text-lg font-bold">LOGO</a>
                    <div class="hidden md:flex space-x-4">
                        <a href="{{ path('app_home') }}" class="text-gray-300 hover:text-white">Accueil</a>
                        {% if app.user %}
                            <a href="{{ path('logout') }}" class="text-gray-300 hover:text-white">Déconnexion</a>
                        {% else %}
                            <a href="{{ path('login') }}" class="text-gray-300 hover:text-white">Connexion</a>
                        {% endif %}
                    </div>
                    <div class="md:hidden">
                        <button id="menu-btn" class="text-gray-300 focus:outline-none">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div id="menu" class="md:hidden">
                    <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white">Home</a>
                    <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white">About</a>
                    <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white">Services</a>
                    <a href="#" class="block px-4 py-2 text-gray-300 hover:bg-gray-700 hover:text-white">Contact</a>
                </div>
            </nav>

            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
