<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
{#    <div class="flex md:flex-row-reverse flex-wrap">#}
{#        <!--Sidebar-->#}
{#        <div class="w-full md:w-1/5 bg-gray-900 md:bg-gray-900 px-2 text-center fixed bottom-0 md:pt-8 md:top-0 md:left-0 h-16 md:h-screen md:border-r-4 md:border-gray-600">#}
{#            <div class="md:relative mx-auto lg:float-right lg:px-6">#}
{#                <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">#}
{#                    <li class="mr-3 flex-1">#}
{#                        <a href="{{ path('login') }}" class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">#}
{#                            <i class="fas fa-link pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Login</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="mr-3 flex-1">#}
{#                        <a href="{{ path('app_home') }}" class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-pink-500 border-b-2 border-gray-800 md:border-gray-900 hover:border-pink-500">#}
{#                            <i class="fas fa-link pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Accueil</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="mr-3 flex-1">#}
{#                        <a href="{{ path('app_movies') }}" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-pink-600">#}
{#                            <i class="fas fa-link pr-0 md:pr-3 text-pink-500"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:font-bold block md:inline-block">Liste des films</span>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <!--Main Content-->
{#    <div class="w-full md:w-4/5 bg-gray-100">#}
{#        <div class="container bg-gray-100 pt-16 px-6">#}
            {% block body %}{% endblock %}
{#        </div>#}
{#    </div>#}

    </body>
</html>
